@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Montserrat:wght@200;400&family=Oswald&display=swap');

/*Asterisk wildcard selector to reset browser settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    color: #003050;
    line-height: 1.5;
}

/*Several styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: gray;
    font-family: "Montserrat", sans-serif;
}

/*header*/
header {
    background-color: #003050;
    position: relative;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px gray;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: white;
    letter-spacing: 0px;
    font-size: 96%;
    line-height: 185%;
    height: 4rem;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    color: white;
    display: block
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid #ffffff;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #003050;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #003050;
    display: none;
    flex-direction: column;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;

}

/*main*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    background-color: white;
    height: 100%;
    /*Make main content larger to push footer down*/
    flex: 1;
    position: relative;



}

#hero {
    width: 100%;
    height: 600px;
    background: url("../photos/hero.png") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(0, 48, 80, 0.79);
    font-size: 120%;
    position: absolute;
    bottom: 30px;
    width: 70%;
    min-height: 180px;
    padding-top: 10px;
    padding-left: 10px;
    text-transform: capitalize;
    line-height: 3rem;
}

#cover-text>h2 {
    color: white;
}

/*Oppetider*/

#oppetider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1, 0, auto;
    background-color: #003050;
    justify-content: space-evenly;
    height: max-content;
    text-align: center;
    padding: 15px;
    width: 100%;
}

#oppetider>div>h2,
p {
    color: white;
    padding-top: 15px;

}

/*Home page*/

#container-behandlingar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 70px;


}

.behandlingar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    color: #003050;
    background-color: white;
    justify-content: space-around;
}

.behandlingar div {
    flex: 0 0 300px;
    margin-bottom: 3rem;
}

/* Behandlingar page*/

.description {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    padding: 15px;
    align-items:center;
    /* Center the content vertically */
}

.description>div {
   width: 90%;
   margin-top: 15px;
    background-color: aqua;
    flex: 1;
    /* Allow the child divs to take equal space */
}
.description-img1{
    float: right;
    padding-right:5%;
    
}
.description-img2{
    float: left;
    padding-left:5%;
    
}
.description h2,
p {
    color: #003050;
    padding-right:5%;
}
.picture-blocks1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left:5%;
}
.picture-blocks2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:5%;
}
/*Contact Page*/
.column {
    float: left;
    width: 100%;
}

#contact-data {
    padding: 15px;

}

.column p {
    color: #003050;
}

#contact-page {
    display: flexbox;
    width: 100%;
    background-color: rgba(0, 48, 80, 0.1);
}

form {
    padding: 15px;
    width: 100%;
}

input {
    width: 100%;
    height: 2rem;
}

#textarea {
    width: 100%;
}

#submit {
    background-color: red;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

#submit:hover {
    background-color: rgba(255, 0, 0, 0.486);
}

#submit::after {
    background-color: rgba(255, 0, 0, 0.017);
}

#maps {
    padding: 15px;
}

/* Footer */
footer {
    background-color: #003050;
    z-index: 100;
}

#social-networks {
    text-align: center;
    padding: 10px;
    list-style-type: none;

}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: white;
}


/*Media query for tablets and screens larger than 768px*/

@media screen and (min-width:768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1 rem;

    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        padding-top: 1rem;
    }

    #menu a:hover {
        border-bottom: 2px solid #ffffff;
    }

    .nav-toggle-label {
        display: none;
    }

    #cover-text {
        width: 400px;
        right: 50px;
        text-align: right;
        padding-right: 10px;
    }

    #oppetider {
        display: flex;
        flex-direction: row;
    }

}

/* Media query - makes the columns stack on top of each other instead of next to each other on smaller screens*/
@media screen and (min-width: 768px) {
    .column {
        width: 50%;
    }
}