@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Montserrat:wght@200;400&family=Oswald&display=swap');

/*Asterisk wildcard selector to reset browser settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Several styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: gray;
    font-family: "Montserrat", sans-serif;
}

/*header*/
header {
    background-color: #003050;
    position: fixed;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px gray;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: white;
    letter-spacing: 0px;
    font-size: 96%;
    line-height: 185%;
    height: 4rem;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    color: white;

}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #003050;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #003050;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #003050;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;

}

/*main*/
main {
    background-color: white;
    /*Make main content larger to push footer down*/
    flex: 1 0 auto;
    margin-top: 37px;
}

#hero{
    width: 100%;
    height: 600px;
    background: url("../photos/hero.png") no-repeat center center/cover;
    position: relative;
}
#cover-text {
    background-color: rgba(0, 48, 80, 0.79);
    font-size: 120%;
    position: absolute;
    bottom: 30px;
    width: 70%;
    min-height: 180px;
    padding-top: 10px;
    padding-left: 10px;
    text-transform: capitalize;
    line-height: 3rem;
}
#cover-text> h2 {
    color: white;
}
/*Oppetider*/
#oppetider{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    background-color: #003050;
    width: fit-content;
    align-content: space-around;
    -ms-flex-align: spaced;
    height: 4rem;
    text-align: center;
    padding: 10px;
    width: 100%;
    gap:20%;
    
}
#oppetider>div>h2, p {
    color: white;


}

/* Footer */
footer {
    background-color: #003050;

    #social-networks {
        text-align: center;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;

    }

    #social-networks i {
        font-size: 160%;
        padding: 5%;
        color: white;
    }
}

 /*Media query for tablets and screens larger than 768px*/

    @media screen and (min-width:768px) {

        /*Header*/
        nav {
            display: block;
            position: relative;
            box-shadow: none;
            width: fit-content;
            padding-right: 1 rem;
            
        }

        #menu {
            display: flex;
        }

        #menu>li {
            padding-left: 1rem;
            padding-top: 1rem;
        }

        .nav-toggle-label {
            display: none;
        }
        #cover-text{
            width: 400px;
            right: 50px;
            text-align: right;
            padding-right: 10px;
        }
    }
