@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Montserrat:wght@200;400&family=Oswald&display=swap');

/*Asterisk wildcard selector to reset browser settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Several styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: gray;
    font-family: "Monserrat", sans-serif;
}

/*header*/
header {
    background-color: white;
    position: fixed;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px gray;
    
}

header a {
    font-family: "Bodoni", sans-serif;
    text-decoration: none;
    color: #252525;
    letter-spacing: 2px;
}

/*main*/
main {
    background-color: blanchedalmond;
    /*Make main content larger to push footer down*/
    flex: 1 0 auto;
}

/*footer*/
footer {
    background-color: black;
}